<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-3">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<img
					src="/sammi.png"
					alt="Sammi Aldhi Yanto"
					class="rounded-full w-32 h-32 mx-auto object-cover ring-4 ring-orange-500 my-8 hover:ring-2 hover:ring-rose-500 hover:scale-110 transition duration-300 ease-in-out"
				/>
				<h1
					class="text-3xl bg-clip-text mt-5 text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap md:text-4xl lg:6xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
				>
					Sammi Aldhi Yanto
				</h1>
				<div class="max-w-3xl mx-auto">
					<div class="mb-2 text-gray-600 dark:text-slate-400">
						<p class="text-sm mb-2">
							<a class="hover:underline hover:decoration-wavy text-red-500">CS Student</a>
							<span class="text-red-500">●</span>

							<a class="hover:underline hover:decoration-wavy text-yellow-500">Lab Assistant</a>
							<span class="text-yellow-500">●</span>

							<a class="hover:underline hover:decoration-wavy text-green-500">Content Creator</a>
							<span class="text-green-500">●</span>

							<a class="hover:underline hover:decoration-wavy text-blue-500">Software Engineer</a>
							<span class="text-blue-500">●</span>

							<a class="hover:underline hover:decoration-wavy text-purple-500">Fullstack Web Developer</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
