<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-3">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Hi! I'm</span>
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
					>
						Sammi
					</span>
				</h1>
				<div class="max-w-3xl mx-auto">
					<div class="mb-8 text-gray-600 dark:text-slate-400">
						<p class="text-sm md:text-md mb-2">
							Currently majoring in CS at the Universitas Riau. I love exploring new things / just sharing something on
							Youtube, mostly about programming, algorithms ⅋ data structures, DevOps, coursework & more. Currently
							learn about ☘ DevOps, Cloud Computing, OSS, Go, TypeScript, React, Remix ⅋ everything 🌎
						</p>
					</div>
				</div>
				<div>
					<!-- <div class="relative mb-8 m-auto max-w-3xl">
						<Picture
							src={import('~/assets/images/hero.jpg')}
							class="mx-auto rounded-xl shadow-xl bg-gray-400 dark:bg-slate-700 w-full"
							widths={[400, 768]}
							sizes="(max-width: 767px) 400px, 768px"
							alt="Hero Image"
							aspectRatio="16:9"
							loading="eager"
						/>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
