---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="px-4 flex md:-my-12 items-center justify-center sm:px-6 mx-auto -my-5 lg:px-8 max-w-lg">
	<div class="w-full flex gap-2 justify-center items-center">
		<a class="btn btn-info hover:font-bold hover:btn-success transition-all duration-300 btn-md">Profile</a>
	</div>
</section>
