---
import {
	SkillsIcon,
	EducationIcon,
	ExperienceIcon,
	AchievementIcon,
	CertificateIcon,
	PortfolioIcon,
	ContactIcon,
	FocusSkillsIcon,
} from '../icons/icons';
---

<section class="px-4 mx-auto -my-8 md:-my-16 md:px-8 max-w-lg">
	<div class="w-full flex flex-wrap gap-2 justify-center items-center">
		<label
			for="my-modal-focus-skills"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-teal-400 border-1 border border-dashed border-teal-400 hover:bg-teal-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<FocusSkillsIcon className="h-4 w-4" />
			Focus Skills</label
		>
		<label
			for="my-modal-skills"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-yellow-400 border-1 border border-dashed border-yellow-400 hover:bg-yellow-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<SkillsIcon className="h-4 w-4" />
			General Skills</label
		>
		<label
			for="my-modal-education"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-green-400 border-1 border-dashed border border-green-400 hover:bg-green-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<EducationIcon className="h-4 w-4" />
			Education</label
		>
		<label
			for="my-modal-experience"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-blue-400 border-1 border-dashed border border-blue-400 hover:bg-blue-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<ExperienceIcon className="h-4 w-4" />
			Experience</label
		>
		<label
			for="my-modal-achievement"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-purple-400 border-1 border-dashed border border-purple-400 hover:bg-purple-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<AchievementIcon className="h-4 w-4" />
			Achievement</label
		>
		<a
			href="/certificate"
			target="_blank noopener noreferrer"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-[#0b8089] border-1 border-dashed border border-[#0b8089] hover:bg-[#0b8089] hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<CertificateIcon className="h-4 w-4" />
			Certificate</a
		><label
			for="my-modal-portfolio"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-[#8bffd8] border-1 border-dashed border border-[#8bffd8] hover:bg-[#8bffd8] hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<PortfolioIcon className="h-4 w-4" />
			Portfolio</label
		>
		<a
			href="/blog"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-[#149fc8] border-1 border-dashed border border-blue-600 hover:bg-blue-600 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-4 w-4 fill-current text-[#149fc8]">
				<path
					d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
				></path>
			</svg>
			Posts</a
		>

		<a
			href="https://www.youtube.com/channel/UCf9eTh_WEnl2NV2ii-F2OZQ"
			target="_blank noopener noreferrer"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-red-400 border-1 border-dashed border border-red-400 hover:bg-red-400 hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 576 512"
				class="h-4 w-4 fill-current text-red-400 hover:text-black"
				><path
					d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
				></path>
			</svg>
			Youtube</a
		>
		<label
			for="my-modal-contact"
			class="px-3 py-2 flex items-center justify-evenly gap-1 rounded-xl text-xs text-[#ffa6c9] border-1 border-dashed border border-[#ffa6c9] hover:bg-[#ffa6c9] hover:text-black transition-all duration-150 ease-linear hover:cursor-pointer"
		>
			<ContactIcon className="h-4 w-4" />
			Contact</label
		>
	</div>
</section>
