---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Certificate from '~/components/journey/certificate';

const meta = {
	title: SITE.name,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<main class="px-12 w-full">
		<Certificate />
	</main>
</Layout>
