<span
	class="flex items-center gap-1 self-center text-2xl font-extrabold text-gray-900 hover:text-primary-700 whitespace-nowrap dark:text-white dark:hover:text-primary-100"
>
	<span class="text-yellow-400 md:text-white">-ˋˏ</span>
	<span class="animate-spin-slow">🌼</span>
	<span class="text-yellow-400 md:text-white">ˎˊ</span>
</span>
