---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>

	<body>
		<div
			class="antialiased min-h-screen text-gray-900 dark:text-slate-300 bg-gradient-to-r from-[#16222A] to-[#3A6073] tracking-tight dark:bg-gradient-to-r dark:from-[#000000] dark:to-[#434343]"
		>
			<slot />
		</div>
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
